In [2]:
x=88
y=-8.88
z=8+8j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [4]:
x=88.8
y=8

#浮点数>>>整数
x_to_int=int(x)
print(x_to_int)

#整数>>>浮点数
y_to_float=float(y)
print(y_to_float)

#将整数转换为复数
y_to_complex=complex(y)
print(y_to_complex)

#将数字转成字符串
x_to_str=str(x)
print(x_to_str)

88
8.0
(8+0j)
88.8

In [6]:
import math
print(math.pi)
print(math.e)
print(math.sqrt(2))

3.141592653589793
2.718281828459045
1.4142135623730951

In [8]:
str1='I am learning python 101!'
print(str1)

str2="Python is fun.matchine learning is fun too"
print(str2)

str4='Hey,'+'James'
print(str4)

str5='Python is Fun'
str6=str5*3
print(str6)

str7='123'
str8=str7*3
print(str8)

str9='456'
str10=str7+str9
print(str10)
print(type(str10))

I am learning python 101!
Python is fun.matchine learning is fun too
Hey,James
Python is FunPython is FunPython is Fun
123123123
123456
<class 'str'>

In [14]:
greeting_str='Hey, James'
print('打印字符串长度')
print(len(greeting_str))

for index,char in enumerate(greeting_str):
    print(f"字符:{char},索引:{index}")

print(greeting_str[0])
print(greeting_str[1])

print(greeting_str[-1])
print(greeting_str[-2])

print(greeting_str[:3])
print(greeting_str[1:6])
print(greeting_str[::2])
print(greeting_str[::-1])

打印字符串长度
10
字符:H,索引:0
字符:e,索引:1
字符:y,索引:2
字符:,,索引:3
字符: ,索引:4
字符:J,索引:5
字符:a,索引:6
字符:m,索引:7
字符:e,索引:8
字符:s,索引:9
H
e
s
e
Hey
ey, J
Hy ae
semaJ ,yeH

In [29]:
name='James'
height=181.18
str_1=name+' has a height of '+str(height) +' cm'

str_2='%s has a height of %.3f cm.' %(name,height)

str_3='{} has a height of {:.1f} cm'.format(name,height)

str_4=f'{name} has a height of {height:.4f} cm'

print(str_1)
print(str_2)
print(str_3)
print(str_4)

James has a height of 181.18 cm
James has a height of 181.180 cm.
James has a height of 181.2 cm
James has a height of 181.1800 cm

In [35]:
my_list=[1,1.0,'12ab',True,[1,1.0,'1'],{1},{1:1.0}]
print(my_list)

my_list[2]='123'
print(my_list)

my_list.insert(2,'inserted')
print(my_list)

my_list.append('tail')
print(my_list)

del my_list[-1]
print(my_list)

my_list.remove('123')
print(my_list)

if '123' in my_list:
    print('yes')
else:
    print('no')

my_list.reverse()
print(my_list)

letters=['J','a','m','e','s']
word='_'.join(letters)
print(word)

[1, 1.0, '12ab', True, [1, 1.0, '1'], {1}, {1: 1.0}]
[1, 1.0, '123', True, [1, 1.0, '1'], {1}, {1: 1.0}]
[1, 1.0, 'inserted', '123', True, [1, 1.0, '1'], {1}, {1: 1.0}]
[1, 1.0, 'inserted', '123', True, [1, 1.0, '1'], {1}, {1: 1.0}, 'tail']
[1, 1.0, 'inserted', '123', True, [1, 1.0, '1'], {1}, {1: 1.0}]
[1, 1.0, 'inserted', True, [1, 1.0, '1'], {1}, {1: 1.0}]
no
[{1: 1.0}, {1}, [1, 1.0, '1'], True, 'inserted', 1.0, 1]
J_a_m_e_s

In [37]:
string_0='abcd'
first,*str_rest,last=string_0
print(str_rest)

tuple_0=(1,2,3,4)
first,*tuple_rest,last=tuple_0
print(tuple_rest)

['b', 'c']
[2, 3]

In [45]:
list1=[1,2,3,4]

list2=list1

list3=list1.copy()

list2[0]='a'
list2[1]='b'
list2[2]='c'
list2[3]='1'

print(list1)
print(list2)
print(list3)

['a', 'b', 'c', '1']
['a', 'b', 'c', '1']
[1, 2, 3, 4]

In [47]:
import copy
list1=[1,2,3,[4,5]]
print('原始list')
print(list1)

list_deep=copy.deepcopy(list1)

list2=list1.copy()
list3=list1[:]
list4=list(list1)
list5=[*list1]

list_deep[3][0]='deep'
list_deep[2]='worked_0'

list2[3][0]='abc'
list2[2]='worked_1'

list3[3][0]='X1'
list3[2]='worked_2'

list4[3][0]='X2'
list4[2]='worked_3'

list5[3][0]='X3'
list5[2]='worked_4'

print('新的list')
print(list1)
print(list_deep)
print(list2)
print(list3)
print(list4)
print(list5)

原始list
[1, 2, 3, [4, 5]]
新的list
[1, 2, 3, ['X3', 5]]
[1, 2, 'worked_0', ['deep', 5]]
[1, 2, 'worked_1', ['X3', 5]]
[1, 2, 'worked_2', ['X3', 5]]
[1, 2, 'worked_3', ['X3', 5]]
[1, 2, 'worked_4', ['X3', 5]]

In [49]:
person={'name':'James','age':88,'gender':'male'}

fruits=dict(apple=88,banana=888,cherry=8888)

print(person['name'])
print(fruits['cherry'])

person['age']=30
print(person)

person['city']='Toronto'
print(person)

del person['gender']
print(person)

print(person.keys())
print(person.values())
print(person.items())

James
8888
{'name': 'James', 'age': 30, 'gender': 'male'}
{'name': 'James', 'age': 30, 'gender': 'male', 'city': 'Toronto'}
{'name': 'James', 'age': 30, 'city': 'Toronto'}
dict_keys(['name', 'age', 'city'])
dict_values(['James', 30, 'Toronto'])
dict_items([('name', 'James'), ('age', 30), ('city', 'Toronto')])

In [59]:
A=[[0,5],
   [3,4],
   [5,0]]

#取出行向量

print(A[0])
print([A[0]])

print(A[1])
print([A[1]])

print(A[2])
print([A[2]])

#取出列向量

print([row[0] for row in A])
print([[row[0]] for row in A])

print([row[1] for row in A])
print([[row[1]]for row in A])

[0, 5]
[[0, 5]]
[3, 4]
[[3, 4]]
[5, 0]
[[5, 0]]
[0, 3, 5]
[[0], [3], [5]]
[5, 4, 0]
[[5], [4], [0]]

In [61]:
from sklearn.datasets import load_iris

iris=load_iris()

X=iris.data
type(X)

y=iris.target
type(y)

numpy.ndarray

In [63]:
import seaborn as sns

iris_df=sns.load_dataset("iris")

iris_df.head()
type(iris_df)

pandas.core.frame.DataFrame

In [65]:
a=10
b=20.0
c=a+b
print(c)

str_a="10"
str_b="20.0"
str_c=str_a+str_b
print(str_c)

30.0
1020.0

In [67]:
a=10
b=20.0
c=a*b
print(c)

str_a="10"
str_b="20.0"
str_c=str_a*3
str_d=str_b*2
print(str_c)
print(str_d)

200.0
101010
20.020.0